<div class="jumbotron">
  <h2>Teams</h2>
  <table class="team-table">
    <thead>
      <tr>
        <th>Team Name</th>
        <th>View/Edit</th>
      </tr>
    </thead>
    <tbody>
      <%= Enum.map @teams, fn(team) -> %>
        <tr>
          <td><%= team.team_name %></td>
          <td><a href='teams/<%= team.id %>'>link</a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>